%text-decoration-none {
    text-decoration: none;
}

// @font-face {
//     font-family: 'BBadr';
//     src: url('fonts/BBadr.eot?#') format('eot') ,<span style="color: #ff6600;">/* IE6–۸ */</span>
//          url('fonts/BBadr.woff') format('woff'),  <span style="color: #ff6600;">/* FF3.6+, IE9, Chrome6+, Saf5.1+*/</span>
//          url('fonts/BBadr.ttf') format('truetype'), <span style="color: #ff6600;">/* Saf3—۵, Chrome4+, FF3.5, Opera 10+ */</span>
//   }
@font-face {
    font-family: “yekan”;
    src: url(fonts/Yekan.eot);
    src: url(fonts/Yekan.eot?#iefix) format(“embedded-opentype”), url(fonts/Yekan.woff) format(“woff”), url(fonts/Yekan.ttf) format(“truetype”), url(fonts/Yekan.svg#BYekan) format(“svg”);
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: Samim;
    src: url('/fonts/Samim-FD.eot');
    src: url('/fonts/Samim-FD.eot?#iefix') format('embedded-opentype'), url('/fonts/Samim-FD.woff') format('woff'), url('/fonts/Samim-FD.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "IranSanse";
    src: url("/fonts/IRANSansWeb.eot");
    src: url("/fonts/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("/fonts/IRANSansWeb.woff2") format("woff2"), url("/fonts/IRANSansWeb.woff") format("woff"), url("/fonts/IRANSansWeb.ttf") format("truetype");
}

@font-face {
    font-family: "bnicon";
    src: url("/fonts/bnicon.eot");
    src: url("/fonts/bnicon.eot?#iefix") format("embedded-opentype"), url("/fonts/bnicon.woff") format("woff"), url("/fonts/bnicon.ttf") format("truetype");
}

body {
    font-family: "IranSanse", Tahoma;
}

hr {
    margin-bottom: 0;
}

a,
a:active,
a:visited,
a:hover {
    @extend %text-decoration-none;
}

.flex-row-rev-space-between {
    @include DisplyFlex(row-reverse,
    space-between);
}

.flex-row-space-between {
    @include DisplyFlex(row,
    space-between);
}

a {
    color: $color-black;
    transition: all is 1s;
    &:hover {
        color: $color-primary;
    }
}